main {
  min-height: 86vh;
}
main {
  width: 100vw;
  padding: 10px 20px;
  background-color: #efefef;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./movie-background-collage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}
